<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300614073343-fb3hcf59tqe9jvdikl153ppgdtncgtg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300614073343-fb3hcf59tqe9jvdikl153ppgdtncgtg3</string>
	<key>API_KEY</key>
	<string>AIzaSyAehf0kPeKeKTnOmbqMoAlSe9uyYklfxsg</string>
	<key>GCM_SENDER_ID</key>
	<string>300614073343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeworkCrud</string>
	<key>PROJECT_ID</key>
	<string>homework-crud-ec848</string>
	<key>STORAGE_BUCKET</key>
	<string>homework-crud-ec848.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300614073343:ios:c259b660f7b11b5e4885ca</string>
</dict>
</plist>